<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/nuevoempleado.css') }}">
    <title>Eliminar empleado</title>
</head>
<body>
    <h1>Formulario para eliminar empleado</h1>
    <form action="eliminarempleado" method="post">

        <section>
        <label for="idemp">ID:</label>
        <select id="idemp" name="idEmpleado">
            {% for id in id_list %}
            <option value={{id[0]}}>{{id}}</option>
            {% endfor %}
        </select>
        </section>

        <button type="submit">Eliminar</button>

    </form>
</body>
</html>